*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #79f7f3;
}
.main{
    font-family: 'Oleo Script Swash Caps', cursive;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2rem;
    color: #011d75;
    text-align: center;
}
.quote{
    margin-bottom: 15px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
button{
    display: flex;
    padding: 5px 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    background-color: #324ea8;
    color: #fff;
}
button p{
    font-size: 1rem;
    margin: 0 10px 0 10px;
}